/* body {background-color: lightgray;} */

body {
    background-color: antiquewhite;
    margin: 50px;
    padding 50px;
    border: 10px solid; color:black;
    font-family:'Courier New', Courier, monospace;
}
p{font-family:'Courier New', Courier, monospace
background-color: brown;}

header {
    background-color: pink;
}

img {
    width: 400px
}

nav li {
    display: inline-block;
    margin-top: 30px;
    margin-right: 30px;
}

#coffee {
    width: 100;
}

footer {
    text-align: center;
}

h1 {
    float: inline-start;
}

header {
    text-align: center;
}