/* body {background-color: lightgray;} */

body {
    background-color: antiquewhite;
    margin: 100px;
    padding: 0px;
    border: 10px solid; color:black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
background-color:black;
text-size-adjust: 50px;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

img {
    width: 400px;
    display: block; 
    margin-left: auto;
    margin-right: auto;
}


nav li {
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 30px;
    color: antiquewhite;
}


footer {
    text-align: center;
    background-color: saddlebrown;
    color: white
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    background-color: burlywood;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
}

.piggy {
    width: 150px;
    display: inline-block;
  }

